.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  background-color: #065d86;

  box-shadow: 0px 3px 10px 3px #0000007d;
}

.search-form{
  margin-right: 20px;
  display: flex;
}

.search-form-input {
  height: 40px;
  min-width: 450px;
  font-size: 18px;
  padding: 5px 10px 5px 25px;
  border: none;
  border-radius: 20px 0 0 20px ;
}
.search-form-btn {
   border: none;
    min-width: 100px;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 0 20px 20px 0 ;
}


.infinite-scroll{
  display: flex;
color: aliceblue;
}