.section-gallery {
  margin-top: 98px;
}

.gallery-photo-card {
  border: 1px solid #e7e9fc;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .gallery-photo-card {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1137px) {
  .gallery-photo-card {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}
@media screen and (min-width: 1440px) {
  .gallery-photo-card {
    flex-basis: calc((100% - 3 * 30px) / 4);
    border: 1px solid #e7e9fc;
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.photo-card-info {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.photo-card-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-guard{
display: none;
}

.scroll-guard-show{
display: block;
}

.load-more {
  display: none;
}
.load-more-show {
  display: block;
}
