.toggle {
  display: flex;
  align-items: center;
}

.toggle__input {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.toggle-track {
  position: relative;
  display: flex;
  width: 60px;
  height: 30px;
  margin-right: 12px;
  border: 2px solid #bdc3c7;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
}

.toggle-indicator {
  position: absolute;
  bottom: 2px;
  left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #a93b3b;
  transition: 300ms;
}

.toggle__input {
  outline: none;
}
.toggle__input:focus + .toggle-track {
  outline: -webkit-focus-ring-color auto 1px;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
  background: #bdc3c7;
  transform: translateX(30px);
}

.toggle__input:checked + .toggle-track {
  background: #38bb43;
}
